.message {
  height: 20px;
  font-weight: bold;
  margin: 100px auto;
  text-align: center;
  width: 600px;
}

.board {
  margin: auto;
  text-align: center;
  width: 600px;
}

.board table {
  border-spacing: 0px;
  border: 1px solid black;
  margin: auto;
}

.board tr {
  text-align: center;
}

.board td {
  border: 1px solid gray;
  height: 30px;
  width: 30px;
}

.board td.new {
  background-color: lightgray;
  cursor: pointer;
}