.App {
  text-align: center;
}

.header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.game {
  margin: 50px;
  display: inline-block;
  border: 0.5px solid gray;
}

.row {
  height: 20px;
  width: 600px;
  display: flex;
}

.cell {
  flex: 1;
}

.live {
  background-color: black;
  border: 0.5px solid gray;
}

.dead {
  background-color: white;
  border: 0.5px solid gray;
}

a {
  color: blue;
  text-decoration: underline;
  padding: 20px;
  cursor: pointer;
}

.timer {
  padding: 20px;
}