body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;;
}

#root {
  margin: 100px;
}

.board {
  clear: left;
}

.board .row {
  float: left;
}

.board .cell {
  border: 1px solid gray;
  cursor: pointer;
  display: block;
  font-size: 50px;
  height: 100px;
  padding: 20px;
  text-align: center;
  width: 100px;
}
